---
const {ref, path} = Astro.props;
const root = "/tree/" + ref + "/";
---
<a href={root}>kvissleik</a>
{path?.split("/").map((segment, index, list) => {
	if(index === list.length-1){
		return <> / <b>{segment}</b></>;
	}
	return <> / <a href={root +list.slice(0, index+1).join("/")}>{segment}</a></>
})}
