---
import GitLogEntry from './GitLogEntry.astro';
import {getLogForRef} from '@utils/git';
const {ref} = Astro.props;

const log = await getLogForRef(ref);
---
<div id="log">
	<thead>
		<tr>
			<td><b>Date</b></td>
			<td><b>Commit message</b></td>
			<td><b>Author</b></td>
			<td class="num" align="right"><b>Files</b></td>
			<td class="num" align="right"><b>+</b></td>
			<td class="num" align="right"><b>-</b></td>
		</tr>
	</thead>
	<ul>
		{log.map(entry => {
			return <GitLogEntry entry={entry}/>
		})}
	</ul>
</div>
