


.repo-header .repo-nav {
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid black;
	padding-bottom: 1ch;
	margin-bottom: 2ch;
}

.repo-header .branches,
.repo-header .tags {
	padding-right:  1ch;
}