---
import "./Search.css"
const {index} = Astro.props;
---
<noscript>
  Search requires javascript
</noscript>
<form id="search-form" data-index={index}>
  <input type="text" name="query" placeholder="keyword +require -exclude" title="Keyword search for the files in this repo"/>
  <button>
 	Search
  </button>
</form>
<script src="@utils/search.js"/>