---
---
<section id="search-result-section" class="headered-section" style="display:none;">
  <header class="headered-section-header">
    Search result for <span id="search-result-query"/>.
    <span id="search-result-total"/> hits.
    </span>
    <button id="search-result-close">
      close search
    </button>
  </header>
  <ul id="search-result-list">
  </ul>
</section>
<template id="search-item-template">
  <li class="search-item headered-section">
    <h4 class="search-header headered-section-header">
      <span class="base-path">/</span>
      <a class="url"/>
    </h4>
    <div class="search-hit">
      <table class="content-hit" style="white-space: pre">
        <tbody class="content-hit-lines"></tbody>
      </table>
      <p class="field-hits"/>
      <!-- <pre class="debug"/> -->
    </div>
  </li>
</template>
<template id="search-item-content-line-template">
  <tr class="line"><td class="line-number"><a></a></td><td class="line-content"></td></tr>
</template>