---
import {getRepoRefsStaticPaths} from 'astro-git/gitStaticPaths.js';

const {repo, ref} = {...Astro.props, ...Astro.params};

export const getStaticPaths = async () => await getRepoRefsStaticPaths(true);
---
<div>
  Diff between commit and previous. {repo} / {ref}
</div>