---
import { Code } from 'astro/components';
import Bytes from '@components/ui/Bytes.astro';
import GitBreadcrumbs from '@components/GitBreadcrumbs.astro';
const {repo, ref, path, entry: {oid}} = Astro.props;

const log = await repo.getLog(ref);
const blob = await repo.getBlob(oid);

const {pathMap, refPathMap} = await repo.getStaticHelpers();
const history = log
  .map(entry => ({
    ref: entry.oid,
    timestamp: entry.commit.author.timestamp,
    checksum:  refPathMap.get(entry.oid)?.get(path)?.oid,
    entry
  }))
  .filter(a => a.checksum)
  .sort((a,b) => a.timestamp - b.timestamp)
  .filter((a,i,l) => l.findIndex(b => b.checksum === a.checksum) === i)
  .sort((a,b) => b.timestamp - a.timestamp)
  .map(a => a.entry);

const latestCommit = history[0];
const bytes = blob.blob.length;
---
<section class="file-content-section headered-section">
  <header class="headered-section-header">
    <div style="display: inline-block">
      <GitBreadcrumbs {...Astro.props}/>
      <div>
        <Bytes bytes={bytes}/>
      </div>
    </div>
  </header>
  <div>
    <i>Binary file.</i>
  </div>
</section>