---
const {bytes} = Astro.props;

const units = ["B", "KB", "MB", "GB", "TB"];
function prettyBytes(){
	let order = bytes.toString().length
	let third = Math.floor((order-1)/3);
	return (bytes / (10 ** (3 * third))).toFixed(third > 0 ? 1 : 0) + " " + units[third];
}
---
<span class="bytes">
  {prettyBytes()}
</span>